version 5.198.0
source https://www.nuget.org/api/v2

storage none
nuget FSharp.Core
nuget Aether
generate_load_scripts true

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
